<form class="forms-sample">
    <div class="form-group">
      <label for="lblFileName">File Name</label>
      <input type="text" class="form-control" id="txtFileName" placeholder="File Name">
    </div>    
    <div class="form-group">
        <label for="lblSelectFile">Choose file</label>
      <input type="file" class="form-control" id="fileUpload" placeholder="Choose file Name">
    </div>    
   
    <button type="submit" class="btn btn-success mr-2">Submit</button>
    <button class="btn btn-light">Cancel</button>
  </form>