<form class="forms-sample">
    <div class="form-group">
      <label for="lblLogoName">Logo Name</label>
      <input type="text" class="form-control" id="txtLogoName" placeholder="Logo Name">
    </div>    
    <div class="form-group">
        <label for="lblSelectFile">Choose logo</label>
      <input type="file" class="form-control" id="fileUpload" placeholder="Choose logo">
    </div>    
   
    <button type="submit" class="btn btn-success mr-2">Submit</button>
    <button class="btn btn-light">Cancel</button>
  </form>