<form class="forms-sample">
    <div class="form-group">
        <label for="lblTaskId">Task #</label>
        <input type="text" class="form-control" id="txtTaskId" placeholder="Task #">
    </div>
    <div class="form-group">
        <label for="lblTaskName">Task Name</label>
        <input type="text" class="form-control" id="txtTaskName" placeholder="Task Name">
    </div>

    <div class="form-group">
        <label for="lblTaskDescription">Task Description</label>
        <input type="text" class="form-control" id="txtTaskDescription" placeholder="Task Description">
    </div>

    <div class="form-group">
        <label for="lblEffort">Effort</label>
        <input type="text" class="form-control" id="txtEffort" placeholder="End Date">
    </div>
    <div class="form-group">
        <label for="lblOwner">Owner</label>
        <select class="form-control" id="ddlOwner">
            <option value="0">AnyOne</option>
            <option value="1">Employee#1</option>
            <option value="1">Employee#2</option>
        </select>
    </div>
    <div class="form-group">
        <label for="lblOwner">Status</label>
        <select class="form-control" id="ddlStatus">
            <option value="0">Active</option>
            <option value="1">Inactive</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success mr-2">Save</button>
    <button class="btn btn-light">Cancel</button>
</form>