<form class="forms-sample">
  <div class="form-group">
    <label for="lblLocationType">Location Type</label>
    <select class="form-control"  id="ddlLocationType">
      <option>Primary</option>
      <option>Mailing</option>
    </select>
  </div>
  <div class="form-group">
    <label for="lblLocationName">Location Name</label>
    <input type="text" class="form-control" id="txtLocationName" placeholder="Name">
  </div>  
  <div class="form-group">
    <label for="lblAddressOne">Address One</label>
    <input type="email" class="form-control" id="txtAddressOne" placeholder="Address One">
  </div>
  <div class="form-group">
    <label for="lblAddressTwo">Address Two</label>
    <input type="email" class="form-control" id="txtAddressTwo" placeholder="Address Two">
  </div>
  <div class="form-group">
    <label for="lblCity">City</label>
    <input type="text" class="form-control" id="txtCity" placeholder="City">
  </div>
  <div class="form-group">
    <label for="lblState">State</label>
    <input type="text" class="form-control" id="txtState" placeholder="State">
  </div>
  <div class="form-group">
    <label for="lblCountry">Country</label>
    <input type="text" class="form-control" id="txtCountry" placeholder="Country">
  </div>
  <div class="form-group">
    <label for="lblZipCode">Zip Code</label>
    <input type="text" class="form-control" id="txtZipCode" placeholder="Zip Code">
  </div>
  <button type="submit" class="btn btn-success mr-2">Submit</button>
  <button class="btn btn-light">Cancel</button>
</form>