<form class="forms-sample">
    <div class="form-group">
      <label for="lblFirstName">First Name</label>
      <input type="text" class="form-control" id="txtFirstName" placeholder="First Name">
    </div>    
    <div class="form-group">
      <label for="lblMiddleInitial">Middle Initial</label>
      <input type="text" class="form-control" id="txtMiddleInitial" placeholder="Middle Initial">
    </div>
    <div class="form-group">
      <label for="lblLastName">Last Name</label>
      <input type="text" class="form-control" id="txtLastName" placeholder="Last Name">
    </div>
    <div class="form-group">
      <label for="lblMobile">Mobile#</label>
      <input type="email" class="form-control" id="txtMobile" placeholder="Mobile#">
    </div>
    <div class="form-group">
      <label for="lblWebsite">Website</label>
      <input type="text" class="form-control" id="txtWebsite" placeholder="Website">
    </div>
    <button type="submit" class="btn btn-success mr-2">Submit</button>
    <button class="btn btn-light">Cancel</button>
  </form>