<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-4">Source Control Tools</h5>
                <div class="fluid-container">
                    <div class="row ticket-card mt-3 pb-2 border-bottom pb-3 mb-3">
                        <div class="ticket-details col-md-9">
                            <div class="d-flex">
                                <p class="text-primary mr-1 mb-0">TFS</p>
                                <p class="mb-0 ellipsis">Environment configuration.</p>
                            </div>
                            <p class="text-gray ellipsis mb-2">This is for testing. This is for testing.</p>
                        </div>
                    </div>
                    <div class="row ticket-card mt-3 pb-2 border-bottom pb-3 mb-3">
                        <div class="ticket-details col-md-9">
                            <div class="d-flex">
                                <p class="text-primary mr-1 mb-0">Jira</p>
                                <p class="mb-0 ellipsis">Organization setting specification.</p>
                            </div>
                            <p class="text-gray ellipsis mb-2">This is for testing. This is for testing.</p>
                        </div>
                    </div>
                    <div class="row ticket-card mt-3">
                        <div class="ticket-details col-md-9">
                            <div class="d-flex">
                                <p class="text-primary mr-1 mb-0">Git</p>
                                <p class="mb-0 ellipsis">Customers and Projects specifications.</p>
                            </div>
                            <p class="text-gray ellipsis mb-2">This is for testing. This is for testing.</p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>