<h3 class="page-heading mb-4">Projects</h3>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <input class="form-control" ype="text" placeholder="search by project name, customer name" aria-label="Search">
        </div>
    </div>
    <div class="col-md-6">
        <button class="btn btn-success float-right" routerLink="/project/profile" routerLinkActive="active">New Project
            <i class="mdi mdi-plus"></i>
        </button>
    </div>
</div>

<div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <a class="nav-link" routerLink="/project/profile" routerLinkActive="active">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="mdi mdi-cube text-danger icon-lg"></i>
                        </div>
                        <div class="float-right">
                            <p class="mb-0 text-right">Project#1</p>
                            <p class="text-muted mt-3 mb-0">
                                <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Customer#1
                            </p>
                            <p class="text-muted mt-3 mb-0">
                                <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Active
                            </p>
                        </div>
                    </div>
                    <p class="text-muted mt-3 mb-0">
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <a class="nav-link" routerLink="/project/profile" routerLinkActive="active">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="mdi mdi-receipt text-warning icon-lg"></i>
                        </div>
                        <div class="float-right">
                            <p class="mb-0 text-right">Project#2</p>
                            <p class="text-muted mt-3 mb-0">
                                <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Customer#1
                            </p>
                            <p class="text-muted mt-3 mb-0">
                                <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Active
                            </p>
                        </div>
                    </div>
                    <p class="text-muted mt-3 mb-0">
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <a class="nav-link" routerLink="/project/profile" routerLinkActive="active">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="mdi mdi-poll-box text-success icon-lg"></i>
                        </div>
                        <div class="float-right">
                            <p class="mb-0 text-right">Project#3</p>
                            <p class="text-muted mt-3 mb-0">
                                <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Customer#1
                            </p>
                            <p class="text-muted mt-3 mb-0">
                                <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Active
                            </p>
                        </div>
                    </div>
                    <p class="text-muted mt-3 mb-0">
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <a class="nav-link" routerLink="/project/profile" routerLinkActive="active">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="mdi mdi-poll-box text-danger icon-lg"></i>
                        </div>
                        <div class="float-right">
                            <p class="mb-0 text-right">Project#4</p>
                            <p class="text-muted mt-3 mb-0">
                                <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Customer#2
                            </p>
                            <p class="text-muted mt-3 mb-0">
                                <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Active
                            </p>
                        </div>
                    </div>
                    <p class="text-muted mt-3 mb-0">
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <a class="nav-link" routerLink="/project/profile" routerLinkActive="active">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="mdi mdi-alert-octagon text-danger icon-lg"></i>
                        </div>
                        <div class="float-right">
                            <p class="mb-0 text-right">Project#1</p>
                            <p class="text-muted mt-3 mb-0">
                                <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Customer#3
                            </p>
                            <p class="text-muted mt-3 mb-0">
                                <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Active
                            </p>
                        </div>
                    </div>
                    <p class="text-muted mt-3 mb-0">
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>