<h3 class="page-heading mb-4">Customer#1</h3>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <ngb-tabset class="tab-solid tab-solid-primary">
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="mdi mdi-home-outline"></i>Profile
            </ng-template>
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-6 grid-margin">
                  <form class="forms-sample">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Name</label>
                      <input type="email" class="form-control" id="txtCustomerName" placeholder="Name">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Profile Info</label>
                      <textarea class="form-control" id="txtVCustomerProfileInfo" placeholder="Description"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success mr-2">Save</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="mdi mdi-message-text-outline"></i>Locations
            </ng-template>
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-6 grid-margin">
                  <app-cust-location></app-cust-location>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="mdi mdi-account-outline"></i>Contacts
            </ng-template>
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-6 grid-margin">
                  <app-cust-contact></app-cust-contact>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="mdi mdi-message-text-outline"></i>Logos
            </ng-template>
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-6 grid-margin">
                  <app-cust-logo></app-cust-logo>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="mdi mdi-message-text-outline"></i>Files
            </ng-template>
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-6 grid-margin">
                  <app-cust-file></app-cust-file>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>