<div class="row">
    <div class="col-ms-12 col-md-12 col-lg-12">
        <input type="button" value="Add Profile" [routerLink]="['/addprofile']"
            class="btn btn-primary float-right">
    </div>
</div>
<br/>
 <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card border"> 
          <div class="card-body">
            <img src="../../assets/images/logo.PNG" alt="logo">        
            <br/>     <br/> 
              <h5 class="card-title">About</h5>
              <p class="card-text">About organization description</p>
              <h4></h4>
            </div>
          </div>
    </div>    
</div>
<br />
<app-viewlocation></app-viewlocation>