<form class="forms-sample">
    <div class="form-group">
        <label for="lblTaskId">Task Name</label>
        <div class="d-flex">
            <p class="text-primary mr-1 mb-0">[#23047]</p>
            <p class="mb-0 ellipsis">Environment configuration.</p>
        </div>
    </div>
    <div class="form-group">
        <label for="lblTaskName">Date</label>
        <input type="text" class="form-control" id="txtDate" placeholder="Date">
    </div>

    <div class="form-group">
        <label for="lblHours">Hours</label>
        <input type="text" class="form-control" id="txtHours" placeholder="HH:MM">
    </div>

    <div class="form-group">
        <label for="lblNotes">Notes</label>
        <textarea class="form-control" id="txtNotes" placeholder="Notes"></textarea>
    </div>
    <button type="submit" class="btn btn-success mr-2">Save</button>
    <button class="btn btn-light">Cancel</button>
</form>