<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-4">Tasks</h5>
                <div class="fluid-container">
                    <div class="row ticket-card mt-3 pb-2 border-bottom pb-3 mb-3">
                        <div class="ticket-details col-md-9">
                            <div class="d-flex">
                                <p class="text-primary mr-1 mb-0">[#23047]</p>
                                <p class="mb-0 ellipsis">Environment configuration.</p>
                            </div>
                            <p class="text-gray ellipsis mb-2">This is for testing. This is for testing.</p>
                            <div class="row text-gray d-md-flex d-none">
                                <div class="col-4 d-flex">
                                    <small class="mb-0 mr-2 text-muted text-muted">Last Activity :</small>
                                    <small class="Last-responded mr-2 mb-0 text-muted text-muted">3 hours ago</small>
                                </div>
                                <div class="col-4 d-flex">
                                    <small class="mb-0 mr-2 text-muted text-muted">Due in :</small>
                                    <small class="Last-responded mr-2 mb-0 text-muted text-muted">2 Days</small>
                                </div>
                            </div>
                        </div>
                        <div class="ticket-actions col-md-2">
                            <ul class="navbar-nav navbar-nav-right">
                                <li class="nav-item dropdown" ngbDropdown>

                                    <a class="nav-link dropdown-toggle" id="UserDropdown" ngbDropdownToggle>
                                        <span class="profile-text">Actions</span>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                                        ngbDropdownMenu aria-labelledby="messageDropdown">
                                        <a class="dropdown-item mt-2">
                                            Log Effort
                                        </a>
                                        <a class="dropdown-item" routerLink="/timecard/timesheet"
                                            routerLinkActive="active">
                                            Time Card
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row ticket-card mt-3 pb-2 border-bottom pb-3 mb-3">
                        <div class="ticket-details col-md-9">
                            <div class="d-flex">
                                <p class="text-primary mr-1 mb-0">[#23135]</p>
                                <p class="mb-0 ellipsis">Organization setting specification.</p>
                            </div>
                            <p class="text-gray ellipsis mb-2">This is for testing. This is for testing.</p>
                            <div class="row text-gray d-md-flex d-none">
                                <div class="col-4 d-flex">
                                    <small class="mb-0 mr-2 text-muted">Last Activity :</small>
                                    <small class="Last-responded mr-2 mb-0 text-muted">3 hours ago</small>
                                </div>
                                <div class="col-4 d-flex">
                                    <small class="mb-0 mr-2 text-muted">Due in :</small>
                                    <small class="Last-responded mr-2 mb-0 text-muted">2 Days</small>
                                </div>
                            </div>
                        </div>
                        <div class="ticket-actions col-md-2">
                            <ul class="navbar-nav navbar-nav-right">
                                <li class="nav-item dropdown" ngbDropdown>

                                    <a class="nav-link dropdown-toggle" id="UserDropdown" ngbDropdownToggle>
                                        <span class="profile-text">Actions</span>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                                        ngbDropdownMenu aria-labelledby="messageDropdown">
                                        <a class="dropdown-item mt-2">
                                            Log Effort
                                        </a>
                                        <a class="dropdown-item" routerLink="/timecard/timesheet"
                                            routerLinkActive="active">
                                            Time Card
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row ticket-card mt-3">
                        <div class="ticket-details col-md-9">
                            <div class="d-flex">
                                <p class="text-primary mr-1 mb-0">[#23246]</p>
                                <p class="mb-0 ellipsis">Customers and Projects specifications.</p>
                            </div>
                            <p class="text-gray ellipsis mb-2">This is for testing. This is for testing.</p>
                            <div class="row text-gray d-md-flex d-none">
                                <div class="col-4 d-flex">
                                    <small class="mb-0 mr-2 text-muted">Last Activity :</small>
                                    <small class="Last-responded mr-2 mb-0 text-muted">10 hours ago</small>
                                </div>
                                <div class="col-4 d-flex">
                                    <small class="mb-0 mr-2 text-muted">Due in :</small>
                                    <small class="Last-responded mr-2 mb-0 text-muted">2 Days</small>
                                </div>
                            </div>
                        </div>
                        <div class="ticket-actions col-md-2">
                            <ul class="navbar-nav navbar-nav-right">
                                <li class="nav-item dropdown" ngbDropdown>

                                    <a class="nav-link dropdown-toggle" id="UserDropdown" ngbDropdownToggle>
                                        <span class="profile-text">Actions</span>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                                        ngbDropdownMenu aria-labelledby="messageDropdown">
                                        <a class="dropdown-item mt-2">
                                            Log Effort
                                        </a>
                                        <a class="dropdown-item" routerLink="/timecard/timesheet"
                                            routerLinkActive="active">
                                            Time Card
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>